<p>Uma solicitação de recuperação de senha foi realizada para o e-mail ({{email}}).</p>
<p>Para sua segurança, nós definimos uma senha temporária. Assim você pode voltar a usar o sistema</p>
<p>Sua nova senha: <strong>{{nova_senha}}</strong> </p>
<p>Recomendamos que você troque sua senha o quanto antes <a href="{{link}}">clicando aqui</a>.</p>
<br>
<p>Caso não tenha sido você quem solicitou essa alteração por favor ignorar.</p>
